services:
  omni-tools:
    image: iib0011/omni-tools:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    env_file: .env
    networks:
      - traefik_proxy
    # ports:
    #   - ${PORT}:80
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=80"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.rule=Host(`${CONTAINER_NAME}.${DOMAIN}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.service=${CONTAINER_NAME}"

networks:
  traefik_proxy:
    external: true
