.env
*bin
*backup
*cache
*cert
*data
*db
*key
*keys
*logs
*redis
*storage
*tokens
*test_field
*.tar.gz

# vim
*.sw*

# specifc
jellyfin/config
navidrome/config
aria2/config
qbittorrent/config
qiandao/config
npm/letsencrypt
gluetun/auth
portainer
