services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    env_file: .env
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - APP_KEY=${APP_KEY}  # Generate an app key: https://speedtest-tracker.dev
      - APP_TIMEZONE=America/Los_Angeles
      - DB_CONNECTION=sqlite
      - SPEEDTEST_SCHEDULE=0 */3 * * *  # https://crontab.guru
    networks:
      - traefik_proxy
    ports:
      - ${HTTP_PORT}:80
      - ${HTTPS_PORT}:443
    volumes:
      - /home/ypei/libraries/docker/speedtest-tracker/data:/config
      - /home/ypei/libraries/docker/speedtest-tracker/ssl-keys:/config/keys
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=80"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.entrypoints=https"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.rule=Host(`${CONTAINER_NAME}.${DOMAIN}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.tls=true"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.service=${CONTAINER_NAME}"

networks:
  traefik_proxy:
    external: true
