services:
  dls:
    image: collinwebdesigns/fastapi-dls:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    env_file: .env
    environment:
      DLS_URL: ${DLS_URL} # REQUIRED, change to your ip or hostname
      DLS_PORT: ${DLS_PORT}
      LEASE_EXPIRE_DAYS: 90
      DATABASE: sqlite:////app/database/db.sqlite
      TZ: America/Los_Angeles
      DEBUG: false
    networks:
      - traefik_proxy
    ports:
      - ${DLS_PORT}:443  # internal port is always 443
    volumes:
      - /home/ypei/libraries/docker/fastapi-dls/cert:/app/cert
      - /home/ypei/libraries/docker/fastapi-dls/db:/app/database
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      # Not working properly though
      - "traefik.enable=true"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=443"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.rule=Host(`${CONTAINER_NAME}.${DOMAIN}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.service=${CONTAINER_NAME}"

networks:
  traefik_proxy:
    external: true
