# traefik verison
services:
  rclone:
    image: rclone/rclone:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    env_file: .env
    user: ${PUID}:${PGID}
    volumes:
      - ${LOCAL_PATH}/rclone/config:/config/rclone
      - ${LOCAL_PATH}/rclone/cache:/.cache
      - /mnt/pve-white:/data
    networks:
      - traefik_proxy
    # ports:
    #  - ${PORT}:5572
    command: >
      rcd
      --rc-web-gui
      --rc-web-gui-no-open-browser
      --rc-addr :5572
      --rc-user ${RC_USER}
      --rc-pass ${RC_PASSWORD}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=5572"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.rule=Host(`${CONTAINER_NAME}.${DOMAIN}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.service=${CONTAINER_NAME}"

networks:
  traefik_proxy:
    external: true

# no traefik verison
services:
  rclone:
    image: rclone/rclone:latest
    container_name: rclone
    restart: unless-stopped
    env_file: .env
    user: ${PUID}:${PGID}
    volumes:
      - ${LOCAL_PATH}/rclone/config:/config/rclone
      - ${LOCAL_PATH}/rclone/cache:/.cache
      - /mnt/external_drive/backup:/data
    ports:
      - ${PORT}:5572
    command: >
      rcd
      --rc-web-gui
      --rc-web-gui-no-open-browser
      --rc-addr :5572
      --rc-user ${RC_USER}
      --rc-pass ${RC_PASSWORD}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
