services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    env_file: .env
    user: ${PUID}:${PGID}
    group_add:
      - 107  # Group ID of UHD630 by running stat -c '%g' /dev/dri/renderD128
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    networks:
      - traefik_proxy
    ports:
      - ${HTTP_PORT}:8096  # http
      - ${HTTPS_PORT}:8920  # https with certificate
    volumes:
      - /home/ypei/libraries/docker/jellyfin/config:/config
      - /home/ypei/libraries/docker/jellyfin/cache:/cache
      - type: bind
        source: /mnt/pve-white/video
        target: /media
    deploy:
      resources:
        limits:
          memory: 2g
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=8096"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.entrypoints=https"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.rule=Host(`${CONTAINER_NAME}.${DOMAIN}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.tls=true"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.service=${CONTAINER_NAME}"

networks:
  traefik_proxy:
    external: true
