services:
  openlist:
    image: openlistteam/openlist:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    env_file: .env
    user: '${PUID}:${PGID}'
    volumes:
      - /home/ypei/libraries/docker/openlist/data:/opt/openlist/data
      - /mnt/pve-white/shared/downloads/aria2/openlist_tmp:/opt/openlist/data/temp/aria2
    networks:
      - traefik_proxy
    # ports:
    #   - ${PORT}:5244
    environment:
      - UMASK=022
      - TZ=America/Los_Angeles
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=5244"
      # - "traefik.http.services.openlist.loadbalancer.serverstransport=openlist-transport@file"  # Not needed for now
      - "traefik.http.routers.${CONTAINER_NAME}-secure.rule=Host(`${CONTAINER_NAME}.${DOMAIN}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.service=${CONTAINER_NAME}"

networks:
  traefik_proxy:
    external: true
