services:
  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    restart: unless-stopped
    env_file: /home/ypei/libraries/docker/gluetun/.env
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - /home/ypei/libraries/docker/gluetun/auth:/gluetun/auth
    networks:
      - traefik_proxy
    ports:
      # gluetun control server
      # - ${CONTROL_PORT}:8000
      # qBittorrent
      # - ${QB_WEBUI_PORT}:${QB_WEBUI_PORT}
      - ${QB_LISTEN_PORT}:${QB_LISTEN_PORT}
      - ${QB_LISTEN_PORT}:${QB_LISTEN_PORT}/udp
      # aria-pro
      # - ${ARIA2_RPC_PORT}:6800
      - ${ARIA2_LISTEN_PORT}:6888
      - ${ARIA2_LISTEN_PORT}:6888/udp
      # - ${ARIANG_PORT}:6880
    environment:
      - FIREWALL_OUTBOUND_SUBNETS=${DOCKER_HOST_SUBNET}
      - DNS_PLAINTEXT_ADDRESS=${LOCAL_DNS}
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - WIREGUARD_ENDPOINT_IP=${WIREGUARD_ENDPOINT_IP}
      - WIREGUARD_ENDPOINT_PORT=${WIREGUARD_ENDPOINT_PORT}
      - WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
    labels:
      - "traefik.enable=true"

      # --- Gluetun control server Router ---
      - "traefik.http.services.gluetun-control.loadbalancer.server.port=8000"
      - "traefik.http.routers.gluetun-control-secure.entrypoints=https"
      - "traefik.http.routers.gluetun-control-secure.rule=Host(`gluetun-control.${DOMAIN}`)"
      - "traefik.http.routers.gluetun-control-secure.tls=true"
      - "traefik.http.routers.gluetun-control-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.gluetun-control-secure.service=gluetun-control"

      # --- qBittorrent Router ---
      - "traefik.http.services.qbittorrent.loadbalancer.server.port=${QB_WEBUI_PORT}"
      - "traefik.http.routers.qbittorrent-secure.entrypoints=https"
      - "traefik.http.routers.qbittorrent-secure.rule=Host(`qbittorrent.${DOMAIN}`)"
      - "traefik.http.routers.qbittorrent-secure.tls=true"
      - "traefik.http.routers.qbittorrent-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.qbittorrent-secure.service=qbittorrent"

      # --- Ariang Web UI Router ---
      - "traefik.http.services.ariang.loadbalancer.server.port=6880"
      - "traefik.http.routers.ariang-secure.entrypoints=https"
      - "traefik.http.routers.ariang-secure.rule=Host(`aria2.${DOMAIN}`)"
      - "traefik.http.routers.ariang-secure.tls=true"
      - "traefik.http.routers.ariang-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.ariang-secure.service=ariang"

      # --- Aria2 RPC Router ---
      - "traefik.http.services.aria2-pro.loadbalancer.server.port=6800"
      - "traefik.http.routers.aria2-pro-secure.entrypoints=https"
      - "traefik.http.routers.aria2-pro-secure.rule=Host(`aria2-rpc.${DOMAIN}`)"
      - "traefik.http.routers.aria2-pro-secure.tls=true"
      - "traefik.http.routers.aria2-pro-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.aria2-pro-secure.service=aria2-pro"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    depends_on:
      - gluetun
    restart: unless-stopped
    environment:
      - PUID=${QB_PUID}
      - PGID=${QB_PGID}
      - TZ=America/Los_Angeles
      - WEBUI_PORT=${QB_WEBUI_PORT}
      - TORRENTING_PORT=${QB_LISTEN_PORT}
    volumes:
      - /home/ypei/libraries/docker/qbittorrent/config:/config
      - /mnt/pve-white/shared/downloads/qbittorrent:/downloads
    network_mode: "container:gluetun"  # in case use Gluetun, comment ports
    # ports:
    #   - ${WEBUI_PORT}:${WEBUI_PORT}
    #   - ${LISTEN_PORT}:${LISTEN_PORT}
    #   - ${LISTEN_PORT}:${LISTEN_PORT}/udp
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  aria2-pro:
    image: p3terx/aria2-pro:latest
    container_name: aria2-pro
    depends_on:
      - gluetun
    restart: unless-stopped
    environment:
      - PUID=${ARIA2_PUID}
      - PGID=${ARIA2_PGID}
      - UMASK_SET=022
      - RPC_SECRET=${ARIA2_RPC_SECRET}
      - RPC_PORT=6800
      - LISTEN_PORT=6888
      - DISK_CACHE=64M
      - IPV6_MODE=false
      - UPDATE_TRACKERS=true
      # Update tracker: bash <(curl -fsSL git.io/tracker.sh)
      - CUSTOM_TRACKER_URL=
      - TZ=America/Los_Angeles
    volumes:
      - /home/ypei/libraries/docker/aria2/config:/config
      - /mnt/pve-white/shared/downloads/aria2:/downloads
      - /mnt/pve-white/shared/downloads/aria2/openlist_tmp:/opt/openlist/data/temp/aria2
    network_mode: "container:gluetun"  # in case use Gluetun, comment ports
    # ports:
    #   - ${RPC_PORT}:6800
    #   - ${LISTEN_PORT}:6888
    #   - ${LISTEN_PORT}:6888/udp
    logging:
      driver: json-file
      options:
        max-size: 1m  # limit log size to 1MB
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  ariang:
    image: p3terx/ariang:latest
    container_name: ariang
    depends_on:
      - gluetun
    restart: unless-stopped
    network_mode: "container:gluetun"  # in case use Gluetun, comment ports
    # ports:
    #   - ${ARIANG_PORT}:6880
    command: --port 6880 --ipv6
    logging:
      driver: json-file
      options:
        max-size: 1m  # limit log size to 1MB
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

networks:
  traefik_proxy:
    external: true
