services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    env_file: .env
    environment:
      - LANG=en
      - WG_HOST=${WG_HOST}  # required

      # Optional:
      - PASSWORD_HASH=${PASSWORD_HASH} # see "How_to_generate_an_bcrypt_hash.md"
      - UI_TRAFFIC_STATS=true
      - UI_CHART_TYPE=2  # 0 disabled, 1 Line chart, 2 Area chart, 3 Bar chart
      - WG_PORT=${LISTEN_PORT} # UDP port WG listen to inside the container
      # - PORT=51821  # WebUI
      # - WG_CONFIG_PORT=92820  # For home assistant
      - WG_DEFAULT_ADDRESS=10.7.0.x
      # - WG_DEFAULT_DNS=1.1.1.1
      # - WG_MTU=1420
      # - WG_ALLOWED_IPS=192.168.15.0/24, 10.0.1.0/24
      # - WG_PERSISTENT_KEEPALIVE=25
      # - WG_PRE_UP=echo "Pre Up" > /etc/wireguard/pre-up.txt
      # - WG_POST_UP=echo "Post Up" > /etc/wireguard/post-up.txt
      # - WG_PRE_DOWN=echo "Pre Down" > /etc/wireguard/pre-down.txt
      # - WG_POST_DOWN=echo "Post Down" > /etc/wireguard/post-down.txt
      # - WG_ENABLE_ONE_TIME_LINKS=true
      # - UI_ENABLE_SORT_CLIENTS=true
      # - WG_ENABLE_EXPIRES_TIME=true
    volumes:
      - ${LOCAL_PATH}/wireguard/etc_wireguard:/etc/wireguard
    networks:
      - traefik_proxy
    ports:
      - ${LISTEN_PORT}:${LISTEN_PORT}/udp  # default: 51820
      # - ${WEBUI_PORT}:51821/tcp
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=51821"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.entrypoints=https"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.rule=Host(`ampere-wg-web.${DOMAIN}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.tls=true"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.${CONTAINER_NAME}-secure.service=${CONTAINER_NAME}"

networks:
  traefik_proxy:
    external: true
